<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Work Orders</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./public/css//style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.8/angular.js"></script>
</head>
<body ng-app="app" ng-cloak>
    
    <div ng-controller="homeCtrl" class="container">
        <div class="content">
            <div id="search-bar">
                <input class="form-control" type="search" ng-model="search" placeholder="Filter by worker name" aria-label="Filter by worker name">
            </div>
            <div id="filter-bar">
                <span class="text-muted">Earliest First</span>   
                <label class="switch">
                        <input type="checkbox" ng-model="checkbox.selected" ng-change="toggle()" name="" id="">
                        <span class="slider round"></span>
                </label> 
                <span class="text-muted">Latest First</span>   
            </div>
            <div id="main-content">
                <div class="row" ng-if="work_orders.length > 0">
                    <div class="col-md-4" ng-repeat="order in work_orders | orderBy : orderParam | filter : { worker : { name : search }}   ">
                        <div class="card order">
                            <div class="card-body">
                                <h5 class="card-title">{{ order.name }}</h5>
                                <p class="card-description">{{order.description}}</p>

                                <div class="avatar">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <img id="profile-image" ng-src="{{ order.worker ? order.worker.image : 'public/imgs/dummy.jpg'}}" alt="">
                                        </div>
                                        <div class="col-md-8">
                                            <div ng-if="order.worker">
                                                <h5 class="profile-name">{{ order.worker.name }}</h5>
                                                <p class="company-name">{{ order.worker.companyName}}</p>
                                                <p class="email"><small>{{ order.worker.email }}</small></p>
                                            </div>
                                            <div ng-if="!order.worker" class="loading">
                                                <div class="bar-one">1</div>
                                                <div class="bar-two">2</div>
                                                <div class="bar-three">3</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-right card-text"><small class="text-muted">{{ order.deadline * 1000 | date : 'M/dd/yyyy h:m:s a' }}</small></p>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./app/app.js"></script>
</body>
</html>