<div class="container">
    <div class="content">
        <div id="search-bar">
            <input class="form-control" type="search" [(ngModel)]="search" (ngModelChange)="searchOrdersByWorkerName()" placeholder="Filter by worker name" aria-label="Filter by worker name">
        </div>
        <div id="filter-bar">
            <span class="text-muted">Earliest First</span>   
            <label class="switch">
                    <input type="checkbox" [(ngModel)]="checkbox.selected" (ngModelChange)="toggle()" name="" id="">
                    <span class="slider round"></span>
            </label> 
            <span class="text-muted">Latest First</span>   
        </div>
        <div id="main-content">
            <div class="row" *ngIf="filtered_orders.length > 0">
                <div class="col-md-4" *ngFor="let order of filtered_orders | orderBy: orderType : order">
                    <div class="card order">
                        <div class="card-body">
                            <h5 class="card-title">{{ order.name }}</h5>
                            <p class="card-description">{{order.description}}</p>

                            <div class="avatar">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img id="profile-image" [src]="order.worker ? order.worker.image : 'assets/imgs/dummy.jpg'" alt="">
                                    </div>
                                    <div class="col-md-8">
                                        <div *ngIf="order.worker">
                                            <h5 class="profile-name">{{ order.worker.name }}</h5>
                                            <p class="company-name">{{ order.worker.companyName}}</p>
                                            <p class="email"><small>{{ order.worker.email }}</small></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-right card-text"><small class="text-muted">{{ order.deadline * 1000 | date : 'M/dd/yyyy h:m:s a' }}</small></p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>