/* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 34px;
    border-radius: 8%;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 25%;
    border: 1px solid #AAAAAA;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 50px;
    left: 4px;
    bottom: 4px;
    background-color: #AAAAAA;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #fff;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #fff;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(40px);
    -ms-transform: translateX(40px);
    transform: translateX(40px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 25px;
  }
  
    #filter-bar{
      text-align: center;
      padding: 15px 0;
    }
  
    .content{
      margin-top: 30px;
    }
  
    /** main content */
    #main-content{
      padding: 15px 40px;
    }
  
    #main-content .card{
      background: #DDDDDD;
    }
  
    .order{
      margin-bottom: 20px;
    }
  
    .order .card-title{
      text-align: center;
    }
  
    .text-right{
      text-align: right;
    }
  
    /** avatar **/
    #profile-image{
      width: 85px;
      height: 85px;
      margin: 0 auto;
      border-radius: 50%;
      background: #AAAAAA;
      border: 2px solid #7C7C7C;
      background-position: center;
    }
  
    .profile-name,.company-name,.email{
      margin: 0;
      color: #525252;
    }
  
    .company-name,.card-description{
      font-size: 90%;
    }
  
    .small, small {
      font-size: 75%;
      font-weight: 400;
  }